h2 {
    color: white;
    background-color: red;
    font-family: Aerial, "Comic Sans", Calibri;
    font-size: 3em;
    text-align: center; /*This will help to align element*/
}


h1 {
    background-color: white;
}


#conainer {
    color: yellow;
}


.accent{
    background-color: yellow;
    color: gray;
}

body main div {
    color: white;
}

footer {
    background-color: rgb(23, 216, 126);
    color: #6920dd;
}